Api:-09424607f6814b8c808104021251711
# http://api.weatherapi.com/v1/current.json?key=09424607f6814b8c808104021251711&q=Pune&aqi=yes



# https://www.weatherapi.com/api-explorer.aspx
# brave://flags/ on brave anywhere 
# Experimental Web Platform features
# Enables experimental Web Platform features that are in development. – Mac, Windows, Linux, ChromeOS, Android